@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>dbl4k/fire-js</h1>
    <p class="lead">Experiments in particle generation.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>...</h2>
        <p>
            ...
        </p>
        <p><a class="btn btn-default" href="...">... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="...">... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2</h2>
        <p></p>
        <p><a class="btn btn-default" href="...">... &raquo;</a></p>
    </div>
</div>